.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/view/webview/webview.html
!src/view/webview/webview.js
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
